.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic {
  width: 20px;
  height: 20px;
}

.user-section {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 5px 10px 5px 40px;
}

.users-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-section p {
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
}

.container {
  width: 100%;
  height: 370px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 473px;
  height: 366px;
  border: 1px solid black;
  overflow-y: scroll;
}

.container2 {
  width: 100%;
  height: 600px;
  display: flex;
  margin-left: 50px;
  align-items: center;
  gap: 20px;
}

.sidebar {
  width: 20%;
  height: 550px;
  margin-top: 100px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
}
.menuList {
  display: flex;
  flex-direction: column;
  padding: 150px 0px 150px 0px;
  text-align: left;
  color: grey;
  gap: 15px;
}

.section {
  width: 70%;
  height: 550px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
}

.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;
}

tr td:first-child {
  text-align: right;
}

tr td:nth-child(2) {
  text-align: left;
}

.activeIndex {
  color: white;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 10; /* Sit on top */
  width: 20%; /* Full width */
  height: 60%; /* Full height */
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filteredUsers {
  /* text-align: center; */
  height: 60px;
  overflow-y: scroll;
}

.filteredUsers p {
  margin: 5px 0px 0px 0px;
}
