.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic {
  width: 20px;
  height: 20px;
}

.user-section {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.users-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-section p {
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 500px;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 580px;
  height: 500px;
  border: 1px solid white;
  border-radius: 31px;
  overflow: hidden;
  box-shadow: 0px 2px 15px -2px black;
}

.container2 {
  height: 600px;
  display: flex;
  margin-left: 50px;
  align-items: center;
  gap: 20px;
  padding: 0px 40px 0px 40px;
}

.sidebar {
  width: 15%;
  height: 550px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
  background-image: linear-gradient(#3b59c8, #5f3bc8);
}

.menu :focus {
  background: black;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  transform: rotate(45deg);
  box-shadow: inset 3px 3px 3px red, inset 1px 1px 1px opacify(1px, 0.1);
}
.menuList {
  display: flex;
  flex-direction: column;
  padding: 150px 0px 150px 0px;
  text-align: left;
  color: grey;
  gap: 15px;
}

.section {
  width: 70%;
  height: 550px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
}

.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: 20px;
}

.profileSection tr td:first-child {
  text-align: right;
  color: #aeaeae;
}

.profileSection tr td:nth-child(2) {
  text-align: left;
  color: #6b6b6b;
}

.activeIndex {
  color: white;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  border-bottom: 1px solid #e8e8e8;
}

.modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 10; /* Sit on top */
  width: 15%; /* Full width */
  height: 40%; /* Full height */
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 10px 10px 10px;
}

.filteredUsers {
  height: 80px;
  overflow-y: scroll;
}

.filteredUsers p {
  margin: 5px 0px 0px 0px;
}

.filteredUsers::-webkit-scrollbar {
  width: 10px;
}

.filteredUsers::-webkit-scrollbar-track {
  background-color: white;
}

.filteredUsers::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.header h2,
.firstSection h3 {
  text-align: center;
}

.header2 {
  overflow-y: scroll;
  height: 90%;
  width: inherit;
}

.header2::-webkit-scrollbar {
  width: 10px;
}

.header2::-webkit-scrollbar-track {
  background-color: white;
}

.header2::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.header1 {
  display: flow-root;
  background: #f6f6f6;
  height: 20%;
}

.header2 td {
  border-bottom: 1px solid #e8e8e8;
  border-width: 80%;
}

.firstSection {
  border-right: 1px solid #e8e8e8;
}

.line {
  border-bottom: 1px solid #e8e8e8;
  width: 90%;
}

.secondSection {
  width: 70%;
  margin-left: 5%;
}

*{
  font-family: sans-serif;
}

.signout{
  border-radius: 20px;
  background: #d55151;
  color: white;
  border: none;
  height: 30px;
  width: 80px;
  margin-top: 10px;
}

.popup-profile-name{
  margin: 0px 0px 5px 0px;
}
.popup-profile-email{
  color: #6b6b6b;
  font-size: small;
  margin: 0px 0px 10px 0px;
}

.popup-profiles{
  color: #6b6b6b;
  font-size: 12px;
  white-space: nowrap;
}

.commingSoon{    
  color: #6b6b6b;
  font-size: 40px;
  margin-top: 20%;
}

